/* 
    Created on : 10 mai 2020, 22:37:50
    Author     : Nem-Developping
*/

* {
    margin: 0!important;
}
#menuprincipal {
    background: #26C54C !important;
    padding: 15px;
    margin-bottom: 18px;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 4px;
    font-size: 25px !important;
    font-family: 'Source Code Pro', monospace;
}

#titregold {
    font-size: 35px !important;
    color: gold !important;
    font-weight: bold !important;
    text-decoration: underline;
}

#navbarNav {
    font-family: 'Source Code Pro', monospace;
    margin-left: 30px!important;
}

.nav-link {
    color: white !important;
}

.row {
    margin-top: 30px !important;
    padding-left: 80px;
    padding-right: 80px;
}

#image-logo {
    width: 100%;
    border: solid;
}

img #image-logo {
    text-align: center;
}


h1.mb-3 {
    font-size: 4rem;
    line-height: 1;
}

.integration-discord {
    text-align: right;
}

#image-banniere {
    text-align: center !important;
    width: 100%;
}


#discord-affichage {
height: 535px;
}

.bd-lead {
    padding-top: 25px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    flex-wrap: wrap;
}